[Unit]
Description=Jira Translator Script

[Service]
Type=oneshot
ExecStart=/path/to/jira-translator/run_translator.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=jira-translator
